.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 60px;
  position: relative;
  bottom: -90px;
  width: 100%;
  max-width: 100vw;
  box-sizing: border-box;
  margin: 0 auto;
  height: 118px;

  &__left {
    display: flex;
    gap: 60px;
    flex: 1;
    max-width: 40vw;
  }

  &__right {
    display: flex;
    gap: 60px;
    flex: 1;
    max-width: 40vw;
    padding-left: 60px;
  }

  &__logo {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    img {
      height: 118px;
      width: auto;
    }
  }

  &__link,
  &__social-link {
    font-size: 30px;
    color: var(--role-color);
    text-decoration: none;
  }

  &__copyright-text {
    font-size: 14px;
    max-width: 350px;
    max-width: 100%;
    text-align: left;
    margin: 0;
    transform: none;
    display: none;
  }
}
