.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
  bottom: -90px;
  width: 100%;
  height: 118px;

  &__left {
    display: flex;
    gap: 60px;
    flex: 1;
    max-width: 40vw;
  }

  &__right {
    display: flex;
    gap: 60px;
    flex: 1;
    max-width: 40vw;
    padding-left: 60px;
  }

  &__logo {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    img {
      height: 118px;
      width: auto;
    }
  }

  &__link,
  &__social-link {
    font-size: 30px;
    color: $blue;
    text-decoration: none;
  }

  &__copyright-text {
    font-size: 14px;
    max-width: 350px;
    text-align: left;
    transform: translate(10%);
  }
}
