// front/src/scss/components/_header.scss

.header {
  position: relative;
  isolation: isolate;
  overflow: hidden;
  background-image: url(../asset/headerbg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $black;
  box-shadow: inset 0px 25px 65px 80px rgba($black, 0.85);

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background: linear-gradient(
      180deg,
      rgba($black, 0.1) 0%,
      rgba($black, 0.4) 35%,
      rgba($black, 0.85) 70%,
      $black 100%
    );
    z-index: -1;
  }

  button > #header__close {
    display: none;
  }

  &__nav__link__logo {
    position: absolute;
    top: 21px;
    right: 26px;
  }
}

// debut de mise en place de la navbar responsive :

// quand le header mobile est actif, display none du bouton menu, et inversement pour bouton close
// .isActive {

//     .header__menu {
//         display: none;
//     }

//     .header__close {
//         display: inline-block;
//     }
// }

// mobile
@media screen and (max-width: 480px) {
  .header {
    background-position: 49% -150px;
    background-repeat: no-repeat;
    background-size: 375%;
    box-shadow: inset 0px 0px 95px 120px rgba($black, 0.85);

    height: 25%;

    button {
      display: inline-block;

      position: absolute;
      top: 21px;
      left: 26px;
    }
  }
}

// tablette
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    background-position: 50% 24%;
    background-size: cover;
    box-shadow: inset 0px 50px 117px 140px rgba($black, 0.8);

    button {
      display: inline-block;

      position: absolute;
      top: 21px;
      left: 26px;
    }
  }
}

// ordinateur
@media screen and (min-width: 769px) {
  .header {
    background-position: 50% 24%;
    background-size: cover;
    box-shadow: inset 0px 50px 117px 140px rgba($black, 0.8);

    // remplacer par une valeur variable
    height: 366px;

    &__nav__link__logo {
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      height: 118px;
      width: 117px;
    }

    button {
      display: none;
    }
  }
}
