// code universel de la navBar du header

.header__nav {
    text-align: center;
    white-space: nowrap;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    gap: 15px;

    height: auto;
    padding: 10% 8%;


    &__link {
        font-family: $asap;
        color: $white;
        text-decoration: none;

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 3px;
            margin-top: 6px;
            border-radius: 0 50% 0 0;
            background-color: $blue;
            transform: scaleX(0);
            transition: transform 0.25s;
            transform-origin: left;

        }

        &:hover::after,
        &.active::after {
            transform: scaleX(1);
        }
    }
}




// mobile 
@media screen and (max-width: 480px) {
    .header__nav {

        padding: 20% 8% 10% 8%;

        &__link--active {
            font-size: $header-mobile-link-onpage;

        }
    }
}

// tablette
@media screen and (max-width: 768px) {
    .header__nav {

        font-size: $header-desktop-link;

        :nth-child(1) {
            margin-top: 30px;
        }
    }
}

// ordinateur
@media screen and (min-width: 769px) {
    .header__nav {

        flex-direction: row;

        padding: 30px 70px;
        font-size: $header-desktop-link;
        height: auto;
        width: auto;

        :nth-child(4) {
            margin-left: 25%;
        }
    }
}