// front/src/scss/components/_header.scss
.header {
  position: relative;
  z-index: 500;
  isolation: isolate;
  overflow: hidden;
  background-color: $black;
  background-image: url(../asset/headerbg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px 25px 65px 80px rgba($black, 0.85);

  &::before {
    content: '';
    position: absolute;
    inset: 0 0 auto 0;
    height: clamp(70px, 18vh, 140px);
    pointer-events: none;
    background: linear-gradient(
      180deg,
      rgba($black, 1) 0%,
      rgba($black, 0.95) 15%,
      rgba($black, 0.8) 28%,
      rgba($black, 0.55) 40%,
      rgba($black, 0.35) 55%,
      rgba($black, 0.15) 70%,
      rgba($black, 0) 100%
    );
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    background:
      linear-gradient(
        to right,
        rgba($black, 1) 0%,
        rgba($black, 0.9) 6%,
        rgba($black, 0.7) 12%,
        rgba($black, 0.5) 18%,
        rgba($black, 0.28) 23%,
        rgba($black, 0.12) 26%,
        rgba($black, 0.04) 28%,
        rgba($black, 0) 30%
      ),
      linear-gradient(
        to left,
        rgba($black, 1) 0%,
        rgba($black, 0.9) 6%,
        rgba($black, 0.7) 12%,
        rgba($black, 0.5) 18%,
        rgba($black, 0.28) 23%,
        rgba($black, 0.12) 26%,
        rgba($black, 0.04) 28%,
        rgba($black, 0) 30%
      ),
      linear-gradient(
        180deg,
        rgba($black, 0.1) 0%,
        rgba($black, 0.4) 35%,
        rgba($black, 0.85) 70%,
        $black 100%
      );
    z-index: -1;
  }

  &__mobile {
    position: relative;
    min-height: 420px;
    padding-bottom: 40px;
  }

  &__desktop {
    display: none;
  }

  // Logo placement
  &__logo-link {
    position: absolute;
    top: 21px;
    right: 26px;
    z-index: 5;

    &--desktop {
      position: relative;
      top: auto;
      right: auto;
      left: 50%;
      display: flex;
      justify-content: center;
      transform: translateX(-50%);
    }

    &--mobile {
      display: inline-flex;
    }
  }

  &__logo {
    display: block;
    width: auto;
    height: 76px;
  }

  &__toggle {
    position: absolute;
    top: 21px;
    left: 26px;
    z-index: 2000;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 12px;
    border: none;
    background: transparent;
    cursor: pointer;

    &__bars {
      position: relative;
      width: 24px;
      height: 18px;
    }

    &__bar {
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      border-radius: 2px;
      background-color: $blue;
      transition: transform 0.25s ease, opacity 0.2s ease, width 0.2s ease;
      transform-origin: center;
    }

    &__bar:nth-child(1) {
      top: 0;
    }

    &__bar:nth-child(2) {
      top: 50%;
      left: 0;
      width: 18px;
      transform: translateY(-50%);
    }

    &__bar:nth-child(3) {
      bottom: 0;
    }

    &--close {
      .header__toggle__bar:nth-child(1) {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
      }

      .header__toggle__bar:nth-child(2) {
        opacity: 0;
      }

      .header__toggle__bar:nth-child(3) {
        bottom: auto;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .header {
    position: relative;
    background-position: 49% -150px;
    background-repeat: no-repeat;
    background-size: 375%;
    box-shadow: inset 0px 0px 95px 120px rgba($black, 0.85);
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    position: relative;
    background-position: 50% 24%;
    background-size: cover;
    box-shadow: inset 0px 50px 117px 140px rgba($black, 0.8);
  }
}

@media screen and (min-width: 769px) {
  .header {
    background-position: 50% 24%;
    background-size: cover;
    box-shadow: inset 0px 50px 117px 140px rgba($black, 0.8);
    height: 366px;

    &__desktop {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      align-items: center;
      gap: 30px;
      padding: 30px clamp(70px, 6vw, 160px) 60px;
      max-width: 1400px;
      margin: 0 auto;
      width: 100%;
    }

    &__mobile {
      display: none;
    }

    &__logo-link--desktop {
      position: relative;
      top: auto;
      right: auto;
      left: auto;
      transform: none;
      justify-self: center;
      display: flex;
      justify-content: center;
    }

    &__logo-link--mobile {
      display: none;
    }

    &__logo {
      height: 118px;
      width: 117px;
    }

    &__toggle {
      display: none;
    }
  }
}
