.login {
  width: 600px;
  height: 400px;
  margin: 100px auto;

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__hr {
    color: $white;
    margin: 30px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__form-group {
    display: flex;
    flex-direction: column;
  }

  &__input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid $white;
    border-radius: 15px;
  }

  &__error-message {
    color: red;
    font-size: 16px;
  }

  &__button {
    @include button();
    margin: 8px auto;
    padding: 0.75rem 1.5rem;
  }

  &__text {
    color: $white;
    margin: 20px 0;
  }

  &__link {
    color: $blue;
    margin-left: 5px;
    text-decoration: none;
  }
}
