.login {
  @include card;

  &__title {
    @include title;
  }

  &__hr {
    @include hr;
  }

  &__form,
  &__form-group {
    @include formGroup;
  }

  &__input {
    @include input;
  }

  &__error-message {
    @include error;
  }

  &__button {
    @include button;
    margin: auto;
    padding: 0.75rem 1.5rem;
  }

  &__text {
    @include text;
  }

  &__link {
    @include textLink;
  }
}
