.login {
  width: 600px;
  margin: 50px auto;

  &__title {
    text-align: center;
    margin-bottom: 20px;
  }

  &__hr {
    color: $white;
    margin: 30px 0;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__form-group {
    display: flex;
    flex-direction: column;
  }

  &__input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 15px;

    &:focus {
      outline: none;
      border-color: #007bff;
    }
  }

  &__error-message {
    color: red;
    font-size: 16px;
  }

  &__button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    width: fit-content;
    margin: 8px auto;
    padding: .75rem 1rem ;

    &:hover {
      background-color: #0056b3;
    }
  }

  &__text {
    color: $white;
    margin: 20px 0;
  }

  &__link {
    color: $blue;
    margin-left: 5px;
    text-decoration: none;
  }
}