.login {
  @include card;

  &__title {
    @include title;
  }

  &__hr {
    @include hr;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__form {
    @include formContainer;
  }

  &__form-group {
    @include formGroup;
  }

  &__input {
    @include formInput;
  }

  &__error-message {
    @include error;
  }

  &__button {
    @include button;
    margin-top: 10px;
  }

  &__text {
    @include text;
    text-align: center;
  }

  &__link {
    @include textLink;
  }
}
