.actus {
  padding: 60px;
  margin: 0 auto;
  max-width: 1160px;

  .main-actus {
    background-size: cover;
    background-position: center;
    color: white;
    padding: 20px;
    margin-bottom: 20px;
    height: 400px;
    border-radius: 8px;

    &-content {
      background-color: rgba(0, 0, 0, 0.6);
      padding: 15px;
      border-radius: 10px;
    }

    &-title {
      font-size: 2.5rem;
      font-weight: bold;
    }

    &-description {
      font-size: 1.2rem;
      margin-top: 10px;
    }
  }

  .page__title {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
  }

  .news-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .news-item {
    flex: 1 1 calc(33.333% - 20px);
    box-sizing: border-box;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    }

    .news-content {
      padding: 15px;
      width: 100%;
      background: rgba(0, 0, 0, 0.5);
      color: #fff;
      text-align: left;

      .news-title {
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: 10px;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
      }

      .news-description {
        font-size: 1rem;
        line-height: 1.4;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
      }
    }
  }

  .admin-button {
    background-color: var(--role-color);
    color: $white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    font-size: 16px;
    margin: 8px auto;
    padding: 0.75rem 1rem;
  }

  @media (max-width: 768px) {
    .news-item {
      flex: 1 1 calc(50% - 20px);
    }
  }

  @media (max-width: 480px) {
    .news-item {
      flex: 1 1 100%;
    }
  }
}
