.profile {
  @include card;
  display: flex;
  flex-direction: column;

  &__title--info {
    margin-top: 40px;
  }

  &__title--info,
  &__title--notification {
    @include title(false);
  }

  &__divider {
    @include hr;
  }

  &__notifications {
    @include newsletter;
  }

  &__notifications {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
  }

  &__label {
    font-size: 24px;
    margin: 0;
    flex: 1;
  }

  &__info {
    @include formGrid;
    margin-bottom: 32px;

    &-item {
      font-size: 20px;
      color: $black;
      background-color: $white;
      border-radius: 15px;
      padding: 10px;
    }
  }

  &__button {
    &--update {
      display: block;
      margin-top: 30px;
      margin-left: auto;
      margin-right: 0;
      width: fit-content;
    }

    &--password {
      display: block;
      width: fit-content;
      align-self: flex-end;
      margin-bottom: 30px;
    }

    &--logout {
      display: block;
      width: fit-content;
      align-self: center;
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
    margin-top: 24px;
  }

  &__loading {
    text-align: center;
    font-size: 16px;
    color: $white;
  }

  @media (max-width: 768px) {
    &__button {
      margin-left: auto;
      margin-right: auto;
      width: fit-content;
      text-align: center;

      &--update {
        margin-top: 20px;
      }

      &--password {
        margin-top: 16px;
        margin-bottom: 16px;
        width: fit-content;
      }

      &--logout {
        margin-top: 16px;
        width: fit-content;
      }
    }

    &__actions {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
    }
  }
}
