.profile {
  @include card;
  height: auto;

  &__title--info {
    margin-top: 40px;
  }

  &__title--info,
  &__title--notification {
    @include title(false);
  }

  &__divider {
    @include hr;
  }

  &__notifications {
    @include newsletter;
  }

  &__notifications {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 10px;
    max-width: 100%;
  }

  &__label {
    font-size: 24px;
    margin: 0;
    flex: 1;
  }

  &__info {
    @include formGrid;

    &-item {
      font-size: 20px;
      color: $black;
      background-color: $white;
      border-radius: 15px;
      padding: 10px;
    }
  }

  &__button {
    @include button;

    &--update {
      display: block;
      margin-top: 40px;
      margin-left: auto;
    }

    &--password {
      display: block;
      margin-top: 40px;
      margin-bottom: 40px;
      margin-left: auto;
    }

    &--logout {
      display: block;
      margin: auto;
    }
  }

  &__loading {
    text-align: center;
    font-size: 16px;
    color: $white;
  }
}
