.profile {
  &__loading {
    text-align: center;
    font-size: 16px;
    color: #666;
  }

  &__title {
    @include title;
  }

  &__details {
    margin-bottom: 20px;
    line-height: 1.6;
    color: #555;
  }

  &__detail {
    margin: 5px 0;
    font-size: 14px;

    strong {
      color: #333;
    }
  }

  &__no-data {
    text-align: center;
    color: #999;
    margin-top: 20px;
  }

  &__actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }

  &__logout-button {
    @include button();
  }
}
