.reset-password {
  @include card;

  &__title {
    @include title;
  }

  &__separator {
    @include hr;
  }

  &__form {
    @include formGroup;
  }

  &__input {
    @include input;
  }

  &__error {
    @include error;
  }
  &__success {
    @include success;
  }

  &-action {
    display: flex;
    justify-content: space-between;

    &__button,
    &__return {
      @include button;
    }
  }
}
