.reset-password {
  @include card;

  &__title {
    @include title;
  }

  &__separator {
    @include hr;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid $white;
    border-radius: 15px;
  }

  &__error {
    @include error;
  }
  &__success {
    @include success;
  }

  &-action {
    display: flex;
    justify-content: space-between;

    &__button,
    &__return {
      @include button;
    }
  }
}
