.reset-password {
  @include card;

  &__title {
    @include title;
  }

  &__separator {
    @include hr;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__form {
    @include formContainer;
  }

  &__input {
    @include formInput;
  }

  &__error {
    @include error;
  }
  &__success {
    @include success;
  }

  &-action {
    @include formActions;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    &__button,
    &__return {
      width: fit-content;
    }
  }
}
