.signup {
  @include card;

  &__title {
    @include title;
  }

  &__hr {
    @include hr;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__form {
    @include formContainer;
    max-width: 100%;
  }

  &__form__group__user-info {
    @include formGrid;
    margin: 0;

    &__input {
      @include formInput;
    }
  }

  &__form__group__password {
    @include formGroup;
    margin: 0;

    &__input {
      @include formInput;
    }
  }

  &__form__input {
    @include formInput;
  }

  &__form__actions {
    @include formActions;
    justify-content: center;

    &--submit {
      @include button;
      margin: 10px auto;
    }
  }

  &__form__group--checkbox {
    @include newsletter;
  }

  &__success {
    @include success;
  }

  &__error {
    @include error;
  }

  &__subtitle,
  &__form__label,
  &__terms,
  &__login {
    @include text;
    text-align: center;
  }

  &__terms__link,
  &__login__link {
    @include textLink;
    margin-left: 6px;
    margin-right: 6px;
  }
}
