.verify-email {
  @include card;

  &__title {
    @include title;
  }

  &__hr {
    @include hr;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__form {
    @include formGroup;
    align-items: center;
  }

  &__form-label {
    @include formLabel;
    text-align: center;
  }

  &__inputs {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
    
    @media (min-width: 768px) {
      gap: 15px;
    }
  }

  &__input {
    @include formInput;
    width: 40px;
    height: 50px;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    
    @media (min-width: 768px) {
      width: 50px;
    }
  }

  &__error {
    @include error;
  }

  &__success {
    @include success;
  }
}
