.request-email {
  @include card;

  &__title {
    @include title;
  }

  &__separator {
    @include hr;
    margin-bottom: 60px;
  }

  &__form {
    @include formGroup;

    &__error {
      @include error;
    }

    &__success {
      @include success;
    }
  }

  &__input {
    @include input;
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    .request-email__button-submit,
    .request-email__button-return {
      @include button;
    }
  }
}
