.request-email {
  @include card;

  &__title {
    @include title;
  }

  &__separator {
    @include hr;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__form {
    @include formContainer;
  }

  &__input {
    @include formInput;
  }

  &__actions {
    @include formActions;
  }
}
