.reset-password {
  @include card;

  &__title {
    @include title;
  }

  &__hr {
    @include hr;
  }

  &__form {
    @include formGroup;
  }

  &__input {
    @include input;
  }

  &__error {
    @include error;
  }

  &__button {
    @include button;
    margin-left: auto;
  }
}
