.reset-password {
  @include card;

  &__title {
    @include title;
  }

  &__hr {
    @include hr;
    max-width: 620px;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__form {
    @include formContainer;
  }

  &__input {
    @include formInput;
  }

  &__error {
    @include error;
  }

  &__button {
    @include button;
    margin-top: 10px;
  }
}
