.reset-password {
  @include card;

  &__title {
    @include title;
  }

  &__hr {
    @include hr;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &__input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid $white;
    border-radius: 15px;
  }

  &__error {
    @include error;
  }

  &__button {
    @include button;
    margin-left: auto;
  }
}
