@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300;400;700&family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap");
.header > button {
  border: none;
  background: none;
}

.header #header__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  color: #1B74E4;
  height: 50px;
  width: 50px;
  opacity: 1;
  font-size: 55px;
  text-align: center;
}
.header #header__close {
  display: flex;
  justify-content: center;
  align-items: center;
  appearance: none;
  color: #1B74E4;
  height: 50px;
  width: 50px;
  opacity: 1;
  font-size: 55px;
  text-align: center;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 1000px;
  background-color: #1E1E1E;
  color: #F1F1F6;
}

.header__nav {
  text-align: center;
  white-space: nowrap;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
  height: auto;
  padding: 10% 8%;
}
.header__nav__link {
  font-family: "Asap Condensed", sans-serif;
  color: #F1F1F6;
  text-decoration: none;
}
.header__nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 6px;
  border-radius: 0 50% 0 0;
  background-color: #1B74E4;
  transform: scaleX(0);
  transition: transform 0.25s;
  transform-origin: left;
}
.header__nav__link:hover::after, .header__nav__link.active::after {
  transform: scaleX(1);
}

@media screen and (max-width: 480px) {
  .header__nav {
    padding: 20% 8% 10% 8%;
  }
  .header__nav__link--active {
    font-size: 24px;
  }
}
@media screen and (max-width: 768px) {
  .header__nav {
    font-size: 32px;
  }
  .header__nav :nth-child(1) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 769px) {
  .header__nav {
    flex-direction: row;
    padding: 30px 70px;
    font-size: 32px;
    height: auto;
    width: auto;
  }
  .header__nav :nth-child(4) {
    margin-left: 25%;
  }
}
.header {
  background-image: url(../asset/headerbg.jpg);
}
.header button > #header__close {
  display: none;
}
.header__nav__link__logo {
  position: absolute;
  top: 21px;
  right: 26px;
  width: 15%;
}

@media screen and (max-width: 480px) {
  .header {
    background-position: 49% -150px;
    background-repeat: no-repeat;
    background-size: 375%;
    box-shadow: inset 0px 0px 95px 120px #1E1E1E;
    height: 25%;
  }
  .header button {
    display: inline-block;
    position: absolute;
    top: 21px;
    left: 26px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    background-position: 50% 24%;
    background-size: cover;
    box-shadow: inset 0px 50px 117px 140px #1E1E1E;
  }
  .header button {
    display: inline-block;
    position: absolute;
    top: 21px;
    left: 26px;
  }
}
@media screen and (min-width: 769px) {
  .header {
    background-position: 50% 24%;
    background-size: cover;
    box-shadow: inset 0px 50px 117px 140px #1E1E1E;
    height: 366px;
  }
  .header__nav__link__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 118px;
    width: 117px;
  }
  .header button {
    display: none;
  }
}
.actus {
  font-size: 30px;
  text-align: center;
}
.actus img {
  width: 324px;
  height: 147px;
}

.about img {
  width: 10%;
}

.footer {
  bottom: 0;
  text-align: center;
  height: 150px;
  width: 100%;
}

/*# sourceMappingURL=index.css.map */
