@import url("https://fonts.googleapis.com/css2?family=Asap+Condensed:wght@300;400;700&family=Merriweather:wght@300;400;700&family=Open+Sans:wght@300;400;700&display=swap");
:root {
  --role-color: #1b74e4;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #1e1e1e;
  color: #f1f1f6;
}

.login {
  width: 600px;
  height: 400px;
  margin: 100px auto;
}
.login__title {
  text-align: center;
  margin-bottom: 20px;
}
.login__hr {
  color: #f1f1f6;
  margin: 30px 0;
}
.login__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.login__form-group {
  display: flex;
  flex-direction: column;
}
.login__input {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #f1f1f6;
  border-radius: 15px;
}
.login__error-message {
  color: red;
  font-size: 16px;
}
.login__button {
  background-color: var(--role-color);
  color: #f1f1f6;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  margin: 46px 0;
  margin: 8px auto;
  padding: 0.75rem 1.5rem;
}
.login__button:hover {
  filter: brightness(1.2);
}
.login__text {
  color: #f1f1f6;
  margin: 20px 0;
}
.login__link {
  color: #1b74e4;
  margin-left: 5px;
  text-decoration: none;
}

.header {
  background-image: url(../asset/headerbg.jpg);
  background-size: cover;
  background-position: center;
  box-shadow: inset 0px 25px 65px 140px #1e1e1e;
}
.header button > #header__close {
  display: none;
}
.header__nav__link__logo {
  position: absolute;
  top: 21px;
  right: 26px;
}

@media screen and (max-width: 480px) {
  .header {
    background-position: 49% -150px;
    background-repeat: no-repeat;
    background-size: 375%;
    box-shadow: inset 0px 0px 95px 120px #1e1e1e;
    height: 25%;
  }
  .header button {
    display: inline-block;
    position: absolute;
    top: 21px;
    left: 26px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header {
    background-position: 50% 24%;
    background-size: cover;
    box-shadow: inset 0px 50px 117px 140px #1e1e1e;
  }
  .header button {
    display: inline-block;
    position: absolute;
    top: 21px;
    left: 26px;
  }
}
@media screen and (min-width: 769px) {
  .header {
    background-position: 50% 24%;
    background-size: cover;
    box-shadow: inset 0px 50px 117px 140px #1e1e1e;
    height: 366px;
  }
  .header__nav__link__logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    height: 118px;
    width: 117px;
  }
  .header button {
    display: none;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 60px;
  padding-right: 60px;
  position: relative;
  bottom: -90px;
  width: 100%;
  height: 118px;
}
.footer__left {
  display: flex;
  gap: 60px;
  flex: 1;
  max-width: 40vw;
}
.footer__right {
  display: flex;
  gap: 60px;
  flex: 1;
  max-width: 40vw;
  padding-left: 60px;
}
.footer__logo {
  display: flex;
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.footer__logo img {
  height: 118px;
  width: auto;
}
.footer__link, .footer__social-link {
  font-size: 30px;
  color: var(--role-color);
  text-decoration: none;
}
.footer__copyright-text {
  font-size: 14px;
  max-width: 350px;
  text-align: left;
  transform: translate(10%);
}

.header__nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 15px;
  height: auto;
  padding: 10% 8%;
  text-align: center;
  white-space: nowrap;
}
.header__nav__link {
  font-family: "Asap Condensed", sans-serif;
  color: #f1f1f6;
  text-decoration: none;
}
.header__nav__link::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  margin-top: 6px;
  border-radius: 0 50% 0 0;
  background-color: var(--role-color);
  transform: scaleX(0);
  transition: transform 0.25s;
  transform-origin: left;
}
.header__nav__link:hover::after, .header__nav__link--active::after {
  transform: scaleX(1);
}

@media screen and (max-width: 480px) {
  .header__nav {
    padding: 20% 8% 10% 8%;
  }
  .header__nav__link {
    font-size: 18px;
  }
}
@media screen and (max-width: 768px) {
  .header__nav {
    font-size: 32px;
  }
  .header__nav :nth-child(1) {
    margin-top: 30px;
  }
}
@media screen and (min-width: 769px) {
  .header__nav {
    flex-direction: row;
    padding: 30px 70px;
    font-size: 32px;
    height: auto;
    width: auto;
  }
  .header__nav :nth-child(4) {
    margin-left: 25%;
  }
}
.create-news {
  width: 600px;
  height: 400px;
  margin: 100px auto;
}
.create-news__title {
  text-align: center;
  margin-bottom: 20px;
}
.create-news__hr {
  color: #f1f1f6;
  margin: 30px 0;
}
.create-news__form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.create-news__form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.create-news__form-group-file-input {
  margin-top: 16px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.create-news__form-label {
  margin: 5px 0;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}
.create-news__input, .create-news__textarea {
  width: 100%;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 15px;
  resize: none;
}
.create-news__file-label {
  background-color: var(--role-color);
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  color: #f1f1f6;
  padding: 10px 20px;
  border-radius: 15px;
}
.create-news__file-input {
  display: none;
  padding: 12px 0;
}
.create-news--btn {
  display: flex;
  justify-content: space-between;
}
.create-news--btn .return,
.create-news--btn .submit {
  background-color: var(--role-color);
  color: #f1f1f6;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  margin: 46px 0;
}
.create-news--btn .return:hover,
.create-news--btn .submit:hover {
  filter: brightness(1.2);
}
.create-news__error-message {
  background-color: red;
  padding: 0.5rem 1.5rem;
  color: #f1f1f6;
  font-size: 16px;
  border-radius: 15px;
}
.create-news__success-message {
  background-color: #4caf50;
  padding: 0.5rem 1.5rem;
  color: #f1f1f6;
  font-size: 16px;
  border-radius: 15px;
}

.actus {
  position: relative;
  padding: 60px;
  margin: 0 auto;
  max-width: 1160px;
}
.actus .main-actus {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 20px;
  margin-bottom: 20px;
  height: 400px;
  border-radius: 8px;
}
.actus .main-actus-content {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 15px;
  border-radius: 10px;
}
.actus .main-actus-title {
  font-size: 2.5rem;
  font-weight: bold;
}
.actus .main-actus-description {
  font-size: 1.2rem;
  margin-top: 10px;
}
.actus .page__title {
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}
.actus .news-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}
.actus .news-item {
  flex: 1 1 calc(33.333% - 20px);
  box-sizing: border-box;
  height: 250px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.actus .news-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
.actus .news-item .news-content {
  padding: 15px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  text-align: left;
}
.actus .news-item .news-content .news-title {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.7);
}
.actus .news-item .news-content .news-description {
  font-size: 1rem;
  line-height: 1.4;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
}
.actus .admin-button {
  background-color: var(--role-color);
  color: #f1f1f6;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  margin: 46px 0;
  position: absolute;
  right: 0;
  transform: translateX(-75%);
}
.actus .admin-button:hover {
  filter: brightness(1.2);
}
@media (max-width: 768px) {
  .actus .news-item {
    flex: 1 1 calc(50% - 20px);
  }
  .actus .admin-button {
    margin: 8px auto;
  }
}
@media (max-width: 480px) {
  .actus .news-item {
    flex: 1 1 100%;
  }
}

.about img {
  width: 10%;
}

.profile__loading {
  text-align: center;
  font-size: 16px;
  color: #666;
}
.profile__title {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}
.profile__details {
  margin-bottom: 20px;
  line-height: 1.6;
  color: #555;
}
.profile__detail {
  margin: 5px 0;
  font-size: 14px;
}
.profile__detail strong {
  color: #333;
}
.profile__no-data {
  text-align: center;
  color: #999;
  margin-top: 20px;
}
.profile__actions {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.profile__logout-button {
  background-color: var(--role-color);
  color: #f1f1f6;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  margin: 46px 0;
}
.profile__logout-button:hover {
  filter: brightness(1.2);
}

/*# sourceMappingURL=index.css.map */
