// code reutilisable pour tout les boutons

@mixin button($bg-color: var(--role-color)) {
  background-color: $bg-color;
  color: $white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  margin: 46px 0;

  &:hover {
    filter: brightness(1.2);
  }
}
