@mixin container() {
  position: relative;
  padding: 60px;
  margin: 0 auto;
  max-width: 1160px;
}

@mixin card() {
  width: 700px;
  min-height: 400px;
  height: auto;
  margin: 100px auto;
}

@mixin title() {
  text-align: center;
  margin-bottom: 20px;
}

@mixin hr() {
  color: $white;
  margin: 30px 0;
  margin-bottom: 60px;
}

@mixin button($bg-color: var(--role-color)) {
  background-color: $bg-color;
  color: $white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  padding: 0.5rem 1.5rem;
  margin: 0;

  &:hover {
    filter: brightness(1.2);
  }
}

@mixin success() {
  background-color: #4caf50;
  padding: 0.5rem 1.5rem;
  color: $white;
  font-size: 16px;
  border-radius: 15px;
}

@mixin error() {
  background-color: red;
  padding: 0.5rem 1.5rem;
  color: $white;
  font-size: 16px;
  border-radius: 15px;
}

