// front/src/scss/config/_var.scss
// Couleur :
$white : #F1F1F6;
$black : #1E1E1E;
$blue : #1B74E4;
$red : #8B0000;

// font : 

    // font-family: 'Asap Condensed', sans-serif;
    // font-family: 'Merriweather', serif;
    // font-family: 'Open Sans', sans-serif;

    $merriweather : 'Merriweather', serif;
    $asap : 'Asap Condensed', sans-serif;
    $open : 'Open Sans', sans-serif;

// font size : 

    // Mobile
        $header-mobile-link : 18px;
        $header-mobile-link-onpage : 24px;
        $h1-mobile : 32px; 
        $h2-mobile : 24px; 
        $p-mobile : 14px;

    // Laptop   

        $header-laptop-link : 24px; 
        $header-laptop-link-onpage : 0px;
        $h1-laptop : 0px;
        $h2-laptop : 0px;
        $p-laptop : 0px;

    // Desktop
        $header-desktop-link : 32px; 
        $header-desktop-link-onpage : 42px;
        $h1-desktop : 42px;
        $h2-desktop : 32px;
        $p-desktop : 24px;

    // Button 
        $btn-mobile-text : 12px;
        $btn-laptop-text : 0px;
        $btn-desktop-text : 24px;
    
