// front/src/scss/main.scss
@import "./config/import";
@import "./config/var" ;
@import "./config/bouton";
@import "./config/base" ;

@import "./components/headerNav";
@import "./components/header";
@import "./components/footer";
@import "./components/login";

@import "./pages/home";
@import "./pages/about";
@import "./pages/profile";