// front/src/scss/main.scss
@import './config/var';
@import './config/base';
@import './config/mixin';
@import './config/import';

@import './components/login';
@import './components/header';
@import './components/footer';
@import './components/loader';
@import './components/headerNav';
@import './components/createNews';
@import './components/searchBar';
@import './components/pagination';
@import './components/statusMessage';
@import './components/workInProgress';
@import './components/forgotPassword/requestEmail';
@import './components/forgotPassword/resetForgotPassword';

@import './pages/home';
@import './pages/about';
@import './pages/contact';
@import './pages//signup';
@import './pages/profile';
@import './pages/AllActus';
@import './pages/verifyEmail';
@import './pages/resetPassword';
@import './pages/forgotPassword';
