// front/src/scss/main.scss
@import './config/var';
@import './config/base';
@import './config/import';
@import './config/bouton';

@import './components/login';
@import './components/header';
@import './components/footer';
@import './components/headerNav';
@import './components/createNewsForm';

@import './pages/home';
@import './pages/about';
@import './pages/profile';
